//variable

$mob-width: 50%;
$des-width:33.333333%;
$big-width:25%;
$mob-flex:0 0 50%;
$des-flex:0 0 33.333333%;
$big-flex:0 0 25%;

body{
	background-color: #cccccc;
}
.card-wrapper{
	position: relative;
	width: 100%;
	display: flex;
}
@media only screen and (min-width: 450px) and (max-width: 699px) {
    .card-wrapper{
		flex:$mob-flex;
		max-width: $mob-width;
	}
}

 @media only screen and (min-width:700px) and (max-width: 990px)  {
    .card-wrapper{
    	flex:$mob-flex;
		max-width: $mob-width;		
	}
}
@media only screen and (min-width:991px) and (max-width: 1023px)  {
    .card-wrapper{
		flex:$des-flex;
		max-width: $des-width;
	}
}

@media only screen and(min-width:1024px) {
    .card-wrapper{
		flex:$des-flex;
		max-width: $big-width;
	}
}
.card{
	margin: 20px;
	text-align: center;
	&:hover{
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		border: 0;
	}
	&-body{
		&-img{
			border-radius:50%;
		}
		&-title{
			font-size: 28px;
		}
		&-btn{
			padding: 5px 80px;
			background-color:#e26d00;
			border:1px solid #e26d00;
			white-space: nowrap;
			&:hover{
				background-color:#fff;
				border:1px solid #e26d00;
				color: #e26d00;
			}
		}
	}
}