body{
	background-color: #cccccc;
}
.card{
	margin: 20px;
	text-align: center;
	&:hover{
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		border: 0;
	}
	&-body{
		&-img{
			border-radius:50%;
		}
		&-title{
			font-size: 28px;
		}
		&-btn{
			padding: 5px 80px;
			background-color:#e26d00;
			border:1px solid #e26d00;
			white-space: nowrap;
			&:hover{
				background-color:#fff;
				border:1px solid #e26d00;
				color: #e26d00;
			}
		}
	}
}